body h3 {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
.ul1{
  display: flex;
  float: right;
  
} 
.ul1 li {
  list-style: none;
  padding: 45px;
  flex-basis:20 ;



}
.ul1 li a, .ul1 li button a {
  text-decoration: none;
}

.ul1 li button{
  border: none;
  

}
.btn {
  display: inline-block;
}